{{ define "main" }}

<section class="page-404">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="index.html">
          <img src="images/icon-round.png" alt="site logo" />
        </a>
        <h1>404</h1>
        <h2>Page Not Found. Try again for a refill.</h2>
        <a href="index.html" class="btn btn-main"><i class="tf-ion-android-arrow-back"></i> Go Home</a>
        <p class="copyright-text">© 2019 <a href="https://themefisher.com/" target="_blank">twoquants.com</a> All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</section>

{{ end }}